/project-docs
/.claude
/.venv
/.venv-build-macos
/build
/build-macos/dist
/build-macos/work
/build-macos/*.spec
/build-linux/dist
/build-linux/work
/build-linux/.venv
/build-linux/*.spec
/sbusta_p7m.egg-info
/android-app/**/build
/android-app/.gradle
/android-app/local.properties
__pycache__/
*.pyc
